.addContainer{
    display: flex;
    margin: auto;
    width:70%;
    align-content: flex-start;
    background: white;
    box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
    padding:20px 0;
}
.add-rightSide,.preview{
    display: flex;
    flex-direction: column;
    background-color:white;
    justify-content: center;
    flex-basis: 60%;
}
.notice{
    color: red;
    font-weight: bold;
    font-size: 1em;
}
form{
    margin: 30px 0;
}
.quizSelect{
    margin-left: 50px;
    flex-basis: 100%;
}
#quizType{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: url("/img/arrow-downs.png") no-repeat right center transparent;
    border:0px;
    margin:10px 0;
    width:30%;
    height:34px;
    padding-left:10px;
    background-color:#F6F7F7;
    cursor: pointer;
}
.choice{
    display: flex;
    flex-direction: column; 
    margin: 30px 50px;
    font-weight: bold;
}
.choice input{    
    border:0;
    border-bottom:1px solid #979797;
    padding: 5px;
}

.choice i{
    margin: 0 5px;
    cursor: help;
}
.choice i:hover::after{
    content: attr(data-descr);
}

.choice .opt{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.choice .opt-name{
    flex-basis: 5%;
    margin-right:5px ;
}

.add_text{
    margin-top: 10px;
}
.answerZone{
    margin: 20px;
}
.addquiz-button,.preview-button{
    width: 30%;
    margin: 10px auto;
    padding: 10px 0;
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom: 4px solid rgba(0,0,0,0.1);
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}
.addquiz-button{
    background: #ffe65d;
}
.addquiz-button:active{
    background: #DBC05B;
} 
.preview-button{
    background: #FFF;
}
.preview-button:active{
    background: #dfdcdd;
}
.backQuiz-button{
    background: #FFC6AD;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom: 2px solid rgba(0,0,0,0.21);
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
    position: absolute;
    top:0;
    right: 0;
}
.backQuiz-button:active{
    background: #FF7C65;
}
input{
    width: 100%;
}
.preAddContainer{
    width:70%;
    max-height: 90%;
    background: white;
    padding:30px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.addpic{
    text-align: center;
    margin-top: 150px;
}
ul{
    margin: 30px 0;
}
.textZoneVisibl li{
    margin:10px 0;
    letter-spacing: 1px;
}
.description{
    flex-basis: 40%;
    margin: 50px 0;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info p{
    margin:10px;
    text-align: center;
}
.sample{
    display: flex;
}
.samplePic{
    flex-basis: 30%;
    margin:10px;
    text-align: center;
}
.picSource{
    width:30%;
}
.textZoneVisible{
    color:white;
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    z-index:1000;
    width:100vw;
    height: 100vh;
    background-color: rgba(0,0,0,80%);
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    padding: 5px 20px;
}
.buttonBlock{
    display: flex;
    margin-top: 20px;
}

/* preview */
.preview{
    display: none;
    margin-left: 30px; 
}
.quiz,.pic_title{
    font-size: 2em;
    font-weight: 800;
}
.pre-options{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;     
}
.previewButton{
    display: none;
    position: absolute;
    top:0;
    right:0;
}
.picSource:hover{
    animation: scaleDraw 3s ease-in-out infinite;
    object-fit: contain;
}
@media (max-width:1200px){
    .addContainer,.preAddContainer{
        width:90%;
    }
    .add-rightSide{
        margin:5px 50px;
    }
    .quizSelect form{
        margin-top: 30px;
    }
    .addpic{
        margin-top: 100px;
    }
    .group-pic{
        width: 400px;
    }
    .choice{
        margin: 10px 50px;
    }
    .choice .opt-name{
        flex-basis: 11%;
    }
}
@media (max-width:800px){ 
    .addContainer,.preAddContainer{
        width:100%;
        flex-direction: column;        
        justify-content: center;
    }
    .addpic{
        text-align: center;
        margin-top: 10px;
    }
}
@media (max-width:640px){
    body{
        margin: 0;
    }
    .group-pic{
        width: 80%;
        margin-right: 10px;
    }
    .choice{
        margin: 10px 10px;
    }
    .quiz{
        margin-left: 10px;
    }
    .quizSelect{
        margin-left: 10px;
    }
}
@media(max-width:480px){
    .addContainer{
        padding:0
    }
    .description{
        margin: 10px 0;
    }
    .addpic{
        margin-top: 0;
    }
    .quizSelect{
        margin-left: 10px;
    }
    .quizSelect form{
        margin: 0;
    }
    #quizType{
        margin: 10px 0;
    }  
    .add-rightSide{
        margin: 5px;
    }  
}