.loginContainer{
    margin: 0 auto;
    width:50%;
    height:500px;
    background: white;
    box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%); 
}
.loginContainer input[type=text]{
    border:0;
    background:none;  
    outline:none;  
    border-bottom:1px solid #979797;
}
.banner{
    margin:0 auto;
    width: 100%;
    height: auto;
}
.loginLogo{
    width: 70px;
    margin:5px;
}
.login{
    margin: auto;
}
.subtext
{
    margin: 10px 0 40px;
    font-size: 13px;
}
.loginText{
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}
.loginZone,.signUp{
    display: flex;
    flex-direction: column;
    width:50%;
    margin: 10px auto;
    background-color: white;
    padding:50px 50px 10px;
}
#signUpName,#signUpEmail,#signUpPW,#signInEmail,#signInPW{
    margin-bottom: 5px;
}
.text2{
    text-align: left;
    margin: 10px 0;
}
.seperate{
    border-right:1px solid #979797;
    height: 300px;
    margin: auto;
}

.loginButton{
    width: 50%;
    margin: 0 ;
    padding: 10px 0;
    border: 1px solid rgba(0,0,0,0.21);
	border-bottom: 4px solid rgba(0,0,0,0.1);
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
    background-color: #eeeeee;
    font-size: 1rem;
}

.loginButton:focus{
    background-color: #ffe65d;
}

.loginButton:active{
    background: #DBC05B;
}

.signButton,.googleSignButton{
    width: 50%;
    border: 1px solid rgba(0,0,0,0.21);
	border-bottom: 4px solid rgba(0,0,0,0.21);
	border-radius: 4px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);    
    margin: 0 auto;
    margin-top:20px;    
    padding:10px;
}
.signButton{
    background-color: #ffe65d;
}
.googleSignButton{
    background-color: white;
}
.signButton:active,.googleSignButton:active{
    background: #DBC05B;
}

/* animation */
.signAnime{
    width: 100vw;
    height:100vh;
    position: fixed;
    top:0;
    left:0;
    z-index: 1000;
}
.fadeAnime{
    animation: fadein 6s linear;
}
.loginls {
    fill:none;
    fill-rule: evenodd;
    opacity: 1;
    stroke:white;
    stroke-dashoffset:2540;
    stroke-dasharray:2540;
    animation-delay: 1.2s;
    animation: draw 6s linear;
    stroke-width: 5;
}
@keyframes fadein {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
} 
@keyframes draw {
        100% {
            stroke-dashoffset: 0;
          }
    }
    
@media(max-width:1200px){
    .loginContainer{
        width: 80%;
    }
}
@media(max-width:800px){
    .loginContainer{
        width:90%;
        margin-top:50px;
    }
    .loginLogo{
        width:60px;
    }
    .loginZone{
        width:80%
    }
}
@media(max-width:640px){
    .signAnime{
        position: absolute;
        top:30%;
    }
}
@media(max-width:480px){
    .loginContainer{
        position: static;
        transform: none;
        margin-top: 0;
        width: 100%;
    }
    .signButton{
        width: 50%;
    }
    .login{
        flex-direction: column;
    }
    .seperate{
        border-top:1px solid #979797;
        border-right:0;
        height: 0;
        width: 80%;
        margin: 5px auto;
    }
    .loginZone,.signUp{
        display: flex;
        flex-direction: column;
        width:100%;
        margin: 20px auto;
    }
    .signButton,.googleSignButton{
        width: 60%;
    }
}