*{
    font-family:"Noto Sans TC", "微軟正黑體", "新細明體", arial, sans-serif;
}

.loginContainer{
    margin: 0 auto;
    width:50%;
    background: white;
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
}
.hideLoginContainer{
    display: none;
}
.banner{
    margin:0 auto;
    width: 100%;
    height: auto;
}
.login{
    margin: auto;
}
p{
    margin: 10px 0 30px;
    font-size: 13px;
}
.text{
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}
.loginZone,.signup{
    display: flex;
    flex-direction: column;
    width:50%;
    margin: 50px auto;
    background-color: white;
    padding:50px;
}
.text2{
    text-align: left;
    margin: 5px 0;
}
.seperate{
    border-right:1px solid #979797;
    height: 300px;
    margin: auto;
}
input{
    width:100%;
}
.loginButton{
    width: 50%;
    margin: 0 ;
    padding: 10px 0;
    border: 1px solid rgba(0,0,0,0.21);
	border-bottom: 4px solid rgba(0,0,0,0.1);
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
    background-color: #eeeeee;
    font-size: 1rem;
}

.loginButton:focus{
    background-color: #ffe65d;
}

.loginButton:active{
    background: #DBC05B;
}

.signButton{
    margin-top:30px;
    border: 1px solid rgba(0,0,0,0.21);
	border-bottom: 4px solid rgba(0,0,0,0.21);
	border-radius: 4px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
    width:20%;
    margin: 0 auto;
    margin-top:15px;
    background-color: #ffe65d;
    padding:5px 15px;

}

.signButton:active{
    background: #DBC05B;
}

/* animation */
.anime{
    width: 100%;
    height:100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 1000;
}
.fadeAnime{
    -moz-animation: fadein 4s linear;
    animation: fadein 4s linear;
}

.hideAnime{
    display: none;
}

  .loginls {
      fill:none;
      fill-rule: evenodd;
      opacity: 1;
      stroke:white;
      stroke-dashoffset:1940;
      stroke-dasharray:1940;
      animation-delay: 1.2s;
      animation: draw 4s linear;
      stroke-width: 5;
    }
    
    @keyframes fadein {
        0%{
            opacity: 0;
        }
        20%{
            opacity: 1;
        }
        80%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
} 
/* @-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
} */

@keyframes draw {
        100% {
            stroke-dashoffset: 0;
          }
    }
    
@media(max-width:1200px){
    .loginContainer{
        width: 80%;
    }
}
@media(max-width:800px){
    .loginContainer{
        width:90%;
    }
    .signButton{
        width: 50%;
    }
}
@media(max-width:480px){
    .loginContainer{
        width:100%;
        margin: 10px auto;
    }
    .login{
        flex-direction: column;
    }
    .seperate{
        border-top:1px solid #979797;
        border-right:0;
        height: 0;
        width: 80%;
        margin: 5px auto;
    }
    .loginZone,.signup{
        display: flex;
        flex-direction: column;
        width:80%;
        margin: 20px auto;
    }
    .loginButton{
        margin: 15px auto;
    }
    
}