*{
    font-family:"Noto Sans TC", "微軟正黑體", "新細明體", arial, sans-serif;
}
.hideContainer{
    display: none;
}
.hideGuide{
    display: none;
}
.hideLogo{
    display: none;
}
.preContainer{
    margin: 30px auto;
    width:70%;
    background: white;
    padding:30px;
    align-items: center;
}
/* GetTicketGuide */
.guide{
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    z-index: 1000;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: popUp ease-in-out 200ms;
}
.guideBoard{
    width:50%;
}
.tips{
    font-size: 36px;
    font-weight: bold;
}
.preGuidePic{
    max-width: 300px;
    flex-basis: 50%;
}
.arrow{
    max-width: 150px;
    transform: rotate(60deg);
}
.get,.fail{
    filter: blur(15px);
}
.noteText{
    color:white;
    flex-basis: 30%;
    letter-spacing: 2px;
}
.loadingGif{
    text-align: center;
    width: 300px;
    background-color: black;
    padding: 40px 0;
}
.preGuideButton{
    background: #ffe65d;
    padding: 5px 20px;
    margin: 20px auto;
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom: 4px solid rgba(0,0,0,0.1);
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
    width: 160px;
}
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0;
}
.noteFinish{
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin: 30px auto;
    align-items: center;
}
.top{
    flex-basis: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.hideResPic{
    display: none;
}
span{
    font-size: 10px;
}
.sendAnswer{
    width:100px;
    background-color: #ffe65d;
    padding:5px 20px;
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom: 4px solid rgba(0,0,0,0.1);
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}

.preloading{
    background-color: black;
    position: fixed;
    z-index: 1000;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hideLoading{
    display: none;
    position: fixed;
    z-index: 1000;
}
.preTestMask{
    background-color: black;
    position: fixed;
    display: flex;
    top:0;
    left:0;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-size:cover;
    background-repeat: no-repeat; 
}
.hideMask{
    display: none;
    position: fixed;
    z-index: 1000;
}

.hideget{
    display: none;
}
.timer{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: fixed;
    z-index: 1000;
    display: flex;
    width:100%;
    height: 100vh;
    top:0;
    left:0;
    font-size: 200px;
    color:white;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.response{
    background: white;
    z-index: 1000;
    padding:5px 80px;
}
.hideTimer{
    display: none;
}
.board{
    text-align: center;
}
.hideAgain{
    display: none;
}
.again{
    display: block;
}
.pre-alertBoard{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid navy;
    width: 500px;
    height: 200px;
    background: white;
}
.preRes-button{
    background: #ffe65d;
    margin: 20px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom: 4px solid rgba(0,0,0,0.1);
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
    flex-basis: 30%;
}
/* explain */
.explainPage{
    background-color:rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
}


@media(max-width:800px){
    .preContainer{
        width:80%;
        flex-wrap: wrap;
    }
    .top{
        flex-basis: 100%;   
        justify-content: flex-start;
    }
}

@media(max-width:640px){
    .top{
        flex-wrap: wrap;
    }
    .preContainer{
        width: 100%;
        padding: 15px 30px;
        margin:0 auto;
    }
    .timer{
        font-size: 100px;
    }
}
@media(max-width:480px){
    .guideBoard{
        width:100%;
    }
    .tips{
        margin: 20px 10px;
    }
    .row{
        margin:35px 0;
    }
    .preGuidePic{
        max-width: 150px;
    }
    .noteText{
        flex-basis: 50%;
    }
    .loadingGif{
    width: 150px;
    padding: 10px; 
    
    }
}