*{
    font-family:"Noto Sans TC", "微軟正黑體", "新細明體", arial, sans-serif;
}
.quizContainer{
    width:70%;
    background: white;
    padding:30px;
    display: flex;
    align-items: center;
}
.hideContainer{
    display: none;
}
.blurLayer{
    filter: blur(10px);
    -webkit-filter:blur(10px);
    width: 100%;
    height: 100vh;
    position:fixed;
    top:0;
    left: 0;
}

.top{
    flex-basis: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.conunter{
    flex-basis: 25%;
    margin-top:50px;
}
.note{
    text-align: center;
}
.all,.right,.wrong{
    margin: 50px;
    font-size: 20px;
    font-weight: bold;
}
.right{
    color:#53C46D
}
.wrong{
    color:#FF6B82
}
.quizLogo{
    width: 70px;
    margin:5px;
}
.quiz,.pic_quiz_title{
    font-size: 2em;
    font-weight: 800;
    margin:20px 0;
    background-color: #ffe65d;
    padding:10px;
    width:80%;
}
.quiz-subtext{
    font-size: 12px;
}
.hideResBoard{
    animation: closePopup 100ms;
    display: none;
}
.resBoard{
    background: rgba(0,0,0,0.7);
    width:100vw;
    height: 100vh;
    animation: popUp ease-in-out 200ms;
    position: fixed;
    z-index: 100;
    top:0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size:1em; 
}

.layer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border:2px solid #415159;
}
.board-Title{
    color:white;
    font-family: Metropolis;
    font-size: 40px;
}
.res{
    font-size: 20px;
    margin:20px;
    color:#415159;
}
.qres-button{
    width:100px;
    background: #ffe65d;
    padding:5px 20px;
    margin-bottom:20px;
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom: 4px solid rgba(0,0,0,0.1);
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}
.qres-button:active{
    background: #DBC05B;
} 
@keyframes popUp { 
    from { transform: scale(0) }
    to   {transform: scale(1)}
    }

@keyframes closePopup {
    from { transform: scale(1) }
    to   {transform: scale(0)}
    }
.optNum{
    font-size:14px;
    flex-basis:10%;
    text-align: center;
}
.options{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 20px auto;
}
.option{
    flex-basis: 50%;
    margin: 20px 0;
    display: flex;
    align-items: center;
}
.answerBlock{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.answerValue{
    font-size: 22px;
    margin: 20px 0;
}
.picOption{
    flex-basis: 40%;
    max-height:250px; 
    margin: 15px;
    object-fit:cover;
    border-radius: 8px;
}
.picSource{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 8px;
}
.pic_quiz_img{
    max-height: 400px;
    max-width: 500px;
}
/*scalper*/
.scalper{
    animation: crosszoom 0.1s;
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.errBoard{
    
    padding:10px;
    text-align: center;
}
.alert{
    font-size: 32px;
    color:red;
    margin-top: 20px;
}
.scalperPic{
    animation: picfadein 1s;
    animation-delay: 1s;
}
@keyframes crosszoom { 
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        transform: scale(10);  
        opacity: 1;
    }
    100%{
        transform: scale(1);        
        opacity: 1;
    }
}
/* anime */
.anime{
    width: 100vw;
    height:100vh;
    position: fixed;
    top:0;
    left:0;
    z-index: 1000;
}
.cls-1 {
    width: 95%;
    fill:none;
    fill-rule: evenodd;
    stroke:lightskyblue;
    stroke-dasharray: 80;
    transition-timing-function: linear;
    stroke-width: 5;
    stroke-opacity: .5
  }
.cls-2 {
    fill:none;
    fill-rule: evenodd;
    opacity: 1;
    stroke:white;
    stroke-dasharray: 85;
    animation: dash 5s linear;
    stroke-width: 5;
    }
.cls-3 {
    fill:none;
    fill-rule: evenodd;
    opacity: 1;
    stroke:white;
    stroke-dasharray: 90;
    animation: dash 5s linear;
    stroke-width: 5;
    }
.Ils-1 {
    width: 95%;
    fill:none;
    fill-rule: evenodd;
    stroke: #fee5d5;
    stroke-dasharray: 450;
    transition-timing-function: linear;
    animation: dash 5s linear;
    stroke-width: 1;
    stroke-opacity: .5
    }
.Ils-2 {
    fill:none;
    fill-rule: evenodd;
    opacity: 1;
    stroke:#f1d2e7;
    stroke-dasharray: 305;
    animation: dash 5s linear;
    stroke-width: 1;
    }
.Ils-3 {
    fill:none;
    fill-rule: evenodd;
    opacity: 1;
    stroke:white;
    stroke-dasharray: 350;
    animation: dash 5s linear;
    stroke-width: 1;
    }    
@keyframes dash {
    to {
    stroke-dashoffset: 1200;
    }
}
@keyframes scaleDraw {  
    0%{
        transform: scale(1);  
    }
    30%{
        transform: scale(1.8);
    }  
    80%{
        transform: scale(1.8);
    }
    100%{
        transform: scale(1);        
    }
}
.picSource:hover{
    animation: scaleDraw 3s ease-in-out linear;
    object-fit: contain;
}
span{
    font-size: 10px;
}
.quiz-button{
    width:100px;
    background-color: #ffe65d;
    padding:5px 20px;
    margin-left: 20px;
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom: 4px solid rgba(0,0,0,0.1);
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
}
.quiz-button:active{
    background: #DBC05B;   
} 
.quiz-answer{
    text-align: center;
    margin:20px;
    width:10%;
}
.mask{
    background-color: black;
    display: none;
}
.fake{
    width:100%;
    height:100vh;
    background-color: white;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fakeText{
    font-size: 20px;
    margin: 20px 0;
}
.board{
    text-align: center;
}
@media(max-width:1200px){
    .quizContainer{
        width:85%;
    }
    .optNum{
        flex-basis:20%;
    }
}
@media(max-width:800px){
    .quizLogo{
        width: 60px;
    }
    .quizContainer{
        width:80%;
        flex-wrap: wrap;
    }
    .counter{
        display: flex;
        flex-basis: 100%;
        margin:30px 0;
        justify-content: center;
    }
    .all,.right,.wrong{
        margin: 10px;
    }
    .top{
        flex-basis: 100%;
        justify-content: flex-start;
    }
}

@media(max-width:640px){
    .resPic{
        max-height:70vh;
    }
    .layer{
        max-height: 90vh;
    }
    .top{
        flex-wrap: wrap;
    }
    .quiz,.pic_quiz_title{
        font-size: 1.5em;
    }
    .quizContainer{
        width: 100%;
        padding: 15px 30px;
        margin:0 auto;
    }
    .option{
        font-size: 14px;
    }
    .all,.right,.wrong{
        font-size: 16px;
    }
    .pic_quiz_img{
        max-width: 80vw;
        max-height: 30vh;
    }
    .anime{
        margin: 0 auto;
    }
    #BTSlogo{
        position: absolute;
        top:30%;
    }
    .picOption{
        flex-basis: 100%;
        max-height:200px; 
        margin: 20px;
        object-fit:cover;
        border-radius: 8px;
    }
    .quiz-button{
        margin: 10px auto;
    }
    .answerBlock{
        text-align: center;
    }
    .optNum{
        font-size: 10px;
    }
    .answerValue{
        font-size: 16px;
    }
}
@media(max-width:480px){
    .quiz,.pic_quiz_title{
        width: 100%;
    }
    .answerBlock{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .quiz-answer{
        width:30%;
        flex-basis: 20%;
    }
    .quizContainer{
        padding: 20px;
    }
    .note{
        flex-basis: 50%;
        font-size: 14px;
    }
    .quiz-subtext{
        font-size: 10px;
    }    
    .quiz-button{
        flex-basis: 70%;
    }
}