{
    "parser": "babel-eslint",
    "settings": {
        "react": {
          "version": "detect"
        }
    },
    "plugins": [
        "react"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "semi-style": ["error", "last"],
        "quotes": [1, "double"],
        "camelcase": 2,
        "comma-dangle": [2, "never"], 
        "comma-spacing": [2, { "before": false, "after": true }],
        "eqeqeq": [2, "allow-null"],
        "space-before-function-paren": [2, "always"]
    },
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    }
}








    
  